.friend_status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

.friend_status_offline {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
}